header {
    background: #BBBBBB;
    padding: 20px o;
    /*espaçamento interno de 20px pra cima e pra baixo e 0 para esquerda e direita*/
}

.caixa {
    position: relative;
    /*quero que o menu levante e fique dentro da caixa*/
    width: 940px;
    margin: 0 auto;
    /*calcula margens esq, dir automático. verificar no devtools*/
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    /*Vou aumentar o espaçamento interno do menu*/
    /* topo, direita, para baixo e último para esquerda*/
}

nav a {
    text-transform: uppercase;
    /*coloca em maiúsculo */
    color: #000000;
    font-weight: bold;
    /*peso da fonte é bold - negrito*/
    font-size: 22px;
    /*tamanho da fonte*/
    text-decoration: none;
    /*nenhuma decoração no meu text- sem sublinhado inclusive */
}

nav a:hover {
    /* hover -> quando o mouse está por cima do elemento - quero monitorar o link a dentro do menu de Navegação. */
    color: #C78C19;
    text-decoration: underline;

}

.produtos {
    width: 940px;
    margin: 0 auto;
    /*um espaçamento lateral de 0px pra cima e pra baixo e automático para os lados */
    padding: 50px 0;
    /*50px pra cima e pra baixo e zero para baixo do produto para o header*/
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    /*background: #cccccc; /*colocando cor nos quadrados dos produtos*/
    margin: 0 1.5%;
    /* Dando espaçamento entre os quadrados zero pra cima e pra baixo e 1.5 para os lados*/
    padding: 30px 20px;
    /* 30px pra cima e pra baixo e 20 px para as laterais*/
    box-sizing: border-box;
    border: 2px solid #000000;
    /* aqui um tipo que substitui os três abaixo: borda, o tipo, tamanho e cor*/
    border-radius: 10px;

    /*border-color:#000000 ; /* três ítens que configuram a borda*/
    /*border-width:2px ;
   /* border-style:solid ;*/
}

.produtos li:hover {
    /*muda a cor da borda*/
    border-color: #C78C19;
}

.produtos li:active {
    /*É ativado quando clica o mouse*/
    border-color: #088C19;
}

.produtos li:hover h2 {
    /*Eu quero que o h2 quando o mouse estiver por cima do li dos produtos ele tenha o tamanho de fonte de 40px*/
    font-size: 34px;
}

.produtos h2 {
    /*para mexer no título dos produtos */
    font-size: 30px;
    /*tamanho da fonte*/
    font-weight: bold;
    /*peso da fonte em negrito*/
}

.produto-descricao {
    font-size: 20px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    /* margin: 10px 0 0; /*wspaçamento interno pra cima de 10px, para os lados zero e pra baixo zero*/
}

footer {
    text-align: center;
    background: url("img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
    /*Margem superior de 20px*/
}

main {
    /* formulário na página contato*/
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
    /*quero que tenha um espaço entre o fim do cabeçaho e o início do formulário e o iicio do rodapé*/
}

form label,
form legend {
    /*quebrando a linha do formulário na label*/
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    /*aumentando o espaço entre cada label e o que vem logo abaixo*/
}

.input-padrao {
    /*quebrando a linha do formulário no input*/
    /* quando coloco virgula repito a mesma configuração para outra*/
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    /*10px pra cima e pra baixo e 25 px para os lados*/
    width: 50%;
    /*ocupando 50% da página*/
}

.checkbox {
    margin: 20px 0;
    /*margem para cima e para baixo de 20pl*/
}

.enviar {
   width: 40%; 
   padding: 15px 0;
   background: orange;
   color: white; /*cor do texto*/
   font-weight: bold;
   font-size: 18px;
   border: none;
   border-radius: 10px;
   transition: 1s all;
   cursor: pointer; /*mostra a mão em vez de seta*/

}

.enviar:hover {
    background: darkorange;  
    transform: scale(1.2) ;   
   /* transform: rotate(5deg) scale(1.2); aumenta a escala em 20% e rotaciona os graus definidos*/
}

table {
    margin: 20px 0 40px; /*margem com 20px pra cima e 40px pra baixo*/
}

thead {
    background: #555555;
    color: white; /*cor da letra*/
}

td, th{ /*usando a mesma configuração para os dois*/
    border: 1px solid #000000; 
    padding: 8px  15px ; /*pra cima e pra baixo de 8px e espaçamento lateral de 15px*/
}