body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px o;
    /*espaçamento interno de 20px pra cima e pra baixo e 0 para esquerda e direita*/
}

.caixa {
    position: relative;
    /*quero que o menu levante e fique dentro da caixa*/
    width: 940px;
    margin: 0 auto;
    /*calcula margens esq, dir automático. verificar no devtools*/
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    /*Vou aumentar o espaçamento interno do menu*/
    /* topo, direita, para baixo e último para esquerda*/
}

nav a {
    text-transform: uppercase;
    /*coloca em maiúsculo */
    color: #000000;
    font-weight: bold;
    /*peso da fonte é bold - negrito*/
    font-size: 22px;
    /*tamanho da fonte*/
    text-decoration: none;
    /*nenhuma decoração no meu text- sem sublinhado inclusive */
}

nav a:hover {
    /* hover -> quando o mouse está por cima do elemento - quero monitorar o link a dentro do menu de Navegação. */
    color: #C78C19;
    text-decoration: underline;

}

.produtos {
    width: 940px;
    margin: 0 auto;
    /*um espaçamento lateral de 0px pra cima e pra baixo e automático para os lados */
    padding: 50px 0;
    /*50px pra cima e pra baixo e zero para baixo do produto para o header*/
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    /*background: #cccccc; /*colocando cor nos quadrados dos produtos*/
    margin: 0 1.5%;
    /* Dando espaçamento entre os quadrados zero pra cima e pra baixo e 1.5 para os lados*/
    padding: 30px 20px;
    /* 30px pra cima e pra baixo e 20 px para as laterais*/
    box-sizing: border-box;
    border: 2px solid #000000;
    /* aqui um tipo que substitui os três abaixo: borda, o tipo, tamanho e cor*/
    border-radius: 10px;

    /*border-color:#000000 ; /* três ítens que configuram a borda*/
    /*border-width:2px ;
   /* border-style:solid ;*/
}

.produtos li:hover {
    /*muda a cor da borda*/
    border-color: #C78C19;
}

.produtos li:active {
    /*É ativado quando clica o mouse*/
    border-color: #088C19;
}

.produtos li:hover h2 {
    /*Eu quero que o h2 quando o mouse estiver por cima do li dos produtos ele tenha o tamanho de fonte de 40px*/
    font-size: 34px;
}

.produtos h2 {
    /*para mexer no título dos produtos */
    font-size: 30px;
    /*tamanho da fonte*/
    font-weight: bold;
    /*peso da fonte em negrito*/
}

.produto-descricao {
    font-size: 20px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    /* margin: 10px 0 0; /*wspaçamento interno pra cima de 10px, para os lados zero e pra baixo zero*/
}

footer {
    text-align: center;
    background: url("img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
    /*Margem superior de 20px*/
}

main {
    /* formulário na página contato*/
    margin-left: 50px;

}

form {
    margin: 40px 0;
    /*quero que tenha um espaço entre o fim do cabeçaho e o início do formulário e o iicio do rodapé*/
}

form label,
form legend {
    /*quebrando a linha do formulário na label*/
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    /*aumentando o espaço entre cada label e o que vem logo abaixo*/
}

.input-padrao {
    /*quebrando a linha do formulário no input*/
    /* quando coloco virgula repito a mesma configuração para outra*/
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    /*10px pra cima e pra baixo e 25 px para os lados*/
    width: 50%;
    /*ocupando 50% da página*/
}

.checkbox {
    margin: 20px 0;
    /*margem para cima e para baixo de 20pl*/
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    /*cor do texto*/
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
    /*mostra a mão em vez de seta*/

}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
    /* transform: rotate(5deg) scale(1.2); aumenta a escala em 20% e rotaciona os graus definidos*/
}

table {
    margin: 20px 0 40px;
    /*margem com 20px pra cima e 40px pra baixo*/
}

thead {
    background: #555555;
    color: white;
    /*cor da letra*/
}

td,
th {
    /*usando a mesma configuração para os dois*/
    border: 1px solid #000000;
    padding: 8px 15px;
    /*pra cima e pra baixo de 8px e espaçamento lateral de 15px*/
}

/*CSS da Página inicial index*/
.banner {
    width: 100%;
}

/*SELETORES AVANÇADOS*/

/*main > p { usando o sinal de > eu acesso todas as tags P que são filhas diretas de main
     background: red;
} 

img + p { imagem como elemento âncora e o primeiro ou o próximo irmão representado por + . Estou selecionando só o parágrafo logo após a img.
    background: blue;
} 

img ~ p { Selecionando todos os parágrafos que vem depois da imagem
        background: yellow; A ordem dos seletores faz com que eles se sobscrevam. Todos têm a mesma força
}
 quero marcar todos parágrafos que não seja o do id="missao" 
.principal p:not(#missao) { quero selecionar todos parágrafos p que não seja id="missao". Isso é EXCLUSÃO
    background: orange;
} */


.titulo-principal {
    text-align: center;
    font-size: 2em;
    /*2em significa o dobro do tamanho da fonte*/
    margin: 0 0 1em;
    /*proporcional ao tamanho da fonte*/
    clear: left;
    /*limpa o float que adicionei para reposicionar tudo que está abaixo. */

    /* color: rgb(0,0,0,0.3); usando rgb com opacidade 0.3 colocamos a camada alfa "a" rgba*/
   /* text-shadow: 2px 3px 2px #4b2a2a;*/
}

.principal {
    padding: 3em 0;
    /*3em para cima e para baixo e zero para as laterais*/
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    /*levantamos o objeto para flutuar par esquerda. Se tiver texto abaixo, ele sobe mas não ocupa o lugar da foto.*/
    margin: 0 20px 20px 0;
    /*0 pra cima, 20px para direita, 20px pra baixo 0 para esquerda.  */
}

.mapa {
    padding: 3em 0;
    /* 3em 0 espaçamento proporcional ao tamanho da fonte do meu site */
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    /*parágrafo que está dentro do mapa*/
    margin: 0 0 2em;
    text-align: center;

}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
    /*Margem automática para os lados*/
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    /*usa a largura total ao lado do texto*/
    vertical-align: top;
    /*alinha o texto no topo*/
}

.itens {
    line-height: 1.5;
    /* espaçamento de tamanho da fonte + 50%*/
}

.itens:first-child {
    /*primeiro ítem da lista*/
    /*poderia usar last-child, nth-child(passando nº do ítem ou valor de n, ex. 2n p/ todos pares)*/
    font-weight: bold;
}

.itens:before {
    content: "🟊";
}

.imagem-beneficios {
    width: 60%;
    opacity: 1;
    /*Opacidade 1=100% e 0= 0%* se eu quero exibir 30% = 0.3 */
    transition: 400ms;
    /*box-shadow x y blur(espalhamento), intensidade da borda, uma cor  . Vou deslocar 10px no eixo X e 10px no eixo Y*. adiciono mais sombra coloando virgula */
    box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-beneficios:hover {
    /*Quando o mouse estiver por cima*/
    opacity: 0.3;
}

/*Centralizando o vídeo*/
.video {
    width: 560px;
    /*mantendo o mesmo tamanho do vídeo*/
    margin: 2em auto;
    /*tem 2em pra cima e pra baixo e automática nas laterais*/
}

/*OBSERVAÇÃO

/*.titulo-principal:first-letter { Coloca a primeira letra em negrito
    font-weight: bold;
}
p:first-line  Deixa primeira linha em itálico 

.titulo-principal:before {
    content: "[ ";
}

.titulo-principal:after {
    content: " ]";
}*/

@media screen and (max-width: 480px) {

    /*Entregar para telas com o máx de 480 px (celular)*/
    .caixa,
    .principal,
    .conteudo-beneficios,
    .mapa-conteudo,
    .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }
    nav {
        position: static;
    }
    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}